/* text selection color */
QLineEdit, QTextEdit, QAbstractSpinBox
{
    selection-background-color: #3f3f3f;
}

/* frame hover */
QToolButton:hover,QAbstractSpinBox:hover,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QAbstractView:hover,QTreeView:hover
{
    border: 0px solid #3f3f3f;
}

QToolButton::menu-button {
    border-left: 1px solid #181818;
}

QToolButton::menu-button:hover {
    background-color: #3f3f3f;  /* Change la couleur de fond de la zone contenant la flèche */
    border-left: 1px solid gray;  /* Optionnel : une bordure pour séparer la flèche */
}


QPushButton:hover
{
    background-color: #040404;
}

/* frame focus */
QToolButton:focus,QAbstractSpinBox:focus,QLineEdit:focus,QTextEdit:focus,QPlainTextEdit:focus,QAbstractView:focus,QTreeView:focus
{
    border: 0px solid #3f3f3f;
}

/* QPushButton:focus
{
    background-color: #000000;
} */

QPushButton:checked
{
    background-color: #090909;
    /* border-right: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f; */
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}


QWidget
{
    color: #bbbbbb;
    background-color: #181818;
    padding: 1px;
    margin: 1px;
    border: none;
}
/*
QWidget:item:hover
{
    background-color: #636363;
} */

QWidget:item:selected
{
    background-color: #636363;
}


QMenu
{
    border: 0px solid #2d2d2d;
    border-left: 1px solid #3f3f3f;
}

QMenu::item:disabled{color: #2d2d2d;}

QToolBar {
    border: 0;
}
QToolBar::handle:horizontal {
    background-color: none;
    border-left: 1px solid #2d2d2d;
    border-right: 1px solid #2d2d2d;
    margin-left: 2px;
    margin-right: 2px;
    width: 3px;
}
QToolBar::handle:vertical {
    background-color: none;
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 3px;
}
QLineEdit
{
    background-color: #090909;
    padding: 2px;
    border-style: solid;
    border: 0px solid #181818;
    border-radius: 0px;

}
QLineEdit:disabled
{
    background-color: #111111;
    border: 0px solid #090909;
}

QFrame
{
    border-radius: 0px;
    border: 0px solid #2d2d2d;
    padding: 0;
    margin: 0;
}

QFrame[frameShape="0"]
{
    border: 0px transparent #2d2d2d;
}


QSplitter
{
    border-style: none;
    width: 3px;
    height: 3px;
}


QSplitter::handle:vertical {
    background: qlineargradient(
        x1:0 y1:0, x2:1 y2:0,
        stop:0.1 transparent, stop:0.4 #0d0d0d,
        stop:0.6 #0d0d0d, stop:0.9 transparent);
    margin: 4px;
}


QSplitter::handle:horizontal {
    background: qlineargradient(
        x1:0 y1:0, x2:0 y2:1,
        stop:0.2 transparent, stop:0.4 #0d0d0d,
        stop:0.6 #0d0d0d, stop:0.8 transparent);
    width: 2px;
    margin: 4px;
}

QMainWindow::separator:horizontal {
    background: qlineargradient(
        x1:0 y1:0, x2:1 y2:0,
        stop:0.1 transparent, stop:0.4 #0d0d0d,
        stop:0.6 #0d0d0d, stop:0.9 transparent);
    width: 3px;  /* Épaisseur du splitter */
    height: 3px; /* Épaisseur du splitter */
}

QMainWindow::separator:vertical {
    background: qlineargradient(
        x1:0 y1:0, x2:0 y2:1,
        stop:0.2 transparent, stop:0.4 #0d0d0d,
        stop:0.6 #0d0d0d, stop:0.8 transparent);
    width: 3px;  /* Épaisseur du splitter */
    height: 3px; /* Épaisseur du splitter */
}

QMainWindow::separator:hover {
    background: #111111
}


QLabel
{
    border: 0px solid #000000;
}


QPushButton
{
    height: 16px;
    margin: 1px;
    /* min-width: 40px; */
    padding: 5px;
    border-color: #181818;
    background-color: #090909;
    border-radius: 2px;
}

QToolButton
{
    margin: 1px;
    padding: 2px;
    border-color: #181818;
    background-color: None;
    border-radius: 2px;
}

QToolButton:checked
{
    background-color: #3f3f3f;
    border: 0px solid #3f3f3f;
}


QPushButton:disabled, QToolButton:disabled, QAbstractSpinBox:disabled
{
    background-color: #181818;
    color: #2d2d2d;
}


QPushButton:pressed, QToolButton:pressed
{
    background-color: #636363;
    border-color: #636363;
}


QComboBox
{
    selection-background-color: #111111;
    background-color: #090909;
    border-style: solid;
    /* border: 0px solid #2d2d2d; */
    border-radius: 0px;
    padding: 2px;
}

QComboBox:disabled
{
    background-color: #111111;
}

QComboBox:hover
{
    /* border: 0px solid #636363; */
    background-color: #040404;
    color: #fdfdfd;
}

QComboBox:on
{
    color: #636363;
}

/* inside QComboBox*/
QComboBox QAbstractItemView
{
    color: #b1b1b1;
    background-color: #090909;
    border-radius: 0px;
    border: 0px solid transparent;
}


QComboBox::drop-down:button{
	background-color: #090909;
    border-left: 1px solid #181818;
}

QComboBox::down-arrow {
	background-color: #2d2d2d;
    border-radius: 2px;
    width: 4px;
    height: 4px;
}

/* QComboBox pop-up */
QAbstractItemView {
    selection-background-color: #3f3f3f;
    border: 0px solid transparent;
}

QAbstractItemView:disabled {
    background-color: #111111;
}

QAbstractSpinBox {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0px solid #181818;
    background-color: #090909;
    color: #bbbbbb;
    border-radius: 0px;
}


QTabWidget::pane {
    border: 0px solid #2d2d2d;
    border-radius: 0px;
    padding: 1px;
    margin: 1px;
}


QTabBar
{
    qproperty-drawBase: 0;
}


QTabBar::tab {
    border: 0px;
    border-right: 1px solid #2d2d2d;
    background-color: #111111;
    margin-top: 2px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
}


QTabBar::tab:!selected
{
    background-color: #181818;
}


QTabBar::tab:hover
{
    /* border: 0px solid #3f3f3f; */
    color: #fdfdfd;
}


QListView:item:hover {
    background-color: #3f3f3f;
}


QAbstractItemView
{
    border: 0px solid #2d2d2d;
    color: #b1b1b1;
    background-color: #090909;
    alternate-background-color: #111111;
}


TripleHeader
{
    background-color: #181818
}

CalendarDialog
{
    background-color: #3f3f3f;
}

QHeaderView
{
    border-style: none;
}
QHeaderView::section
{
    background-color: #040404;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-width: 1px;
    border-right-color: #000000;
    border-right-style: double;
}


QListWidget
{
    /* background-color: red; */
    padding: 0px;
}


/* QHeaderView::section  {
    background-color: #181818;
    color: #bbbbbb;
} */

QTableCornerButton::section {
    background-color: #181818;
    border: 0px solid #181818;
}


QTextEdit
{
    /*background-color: #090909;*/
    background-color: #111111;
    color: #bbbbbb;
    border: 0px solid #2d2d2d;
    /* border: none; */
}


QScrollBar:vertical
{
    background: transparent;
    width: 15px;
    margin: 1px 2px 1px 2px;
    border: 0px transparent;
}

QScrollBar:horizontal {
    background: transparent;
    height: 15px;
    margin: 2px 1px 2px 1px;
    border: 0px transparent;
}

QScrollBar::handle
{
    background-color: #040404;
    border: 0px solid transparent;
    margin: 2px;
    min-height: 30px;
    min-width: 30px;
}

QScrollBar::sub-line:vertical
{
    margin: 3px 0px 3px 0px;
    height: 0px;
    width: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
    border: 0px solid transparent;
}

QScrollBar::add-line:vertical
{
    margin: 3px 0px 3px 0px;
    height: 0px;
    width: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    border: 0px solid transparent;
}

QScrollBar::sub-line:horizontal
{
    margin: 3px 0px 3px 0px;
    height: 0px;
    width: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
    border: 0px solid transparent;
}

QScrollBar::add-line:horizontal
{
    margin: 3px 0px 3px 0px;
    height: 0px;
    width: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    border: 0px solid transparent;
}


QScrollBar::add-page
{
    background-color: #181818;
    margin: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}


QScrollBar::sub-page
{
    background-color: #181818;
    margin: 0px 0px 0px 0px;
    height: 0px;
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}


QSlider::groove {
    border: 0px solid #000000;
    /* border-radius: 0px; */
}

QSlider::groove:horizontal {
    height: 20px;
    background: #2d2d2d;
    margin: 0 0;
}

QSlider::groove:vertical {
    width: 20px;
    background: #2d2d2d;
    margin: 0 0;
}


QSlider::handle:horizontal {
    width: 8px;
    background: #000;
    border: none;
    margin: 0px; /* Remove any margin that might affect layout */
    padding: 0px; /* Remove padding */
}

QSlider::handle:vertical {
    height: 8px;
    background: #000;
    border: none;
    margin: 0px; /* Remove any margin that might affect layout */
    padding: 0px; /* Remove padding */
}


QSlider::sub-page:horizontal {
    background: #141414;
}


QSlider::sub-page:vertical {
    background: #1b1b1b;
}

QProgressBar
{
    border: 1px solid #090909;
    border-radius: 0px;
    text-align: center;
}

 QProgressBar::chunk
{
    background-color: #3f3f3f;
}

/*
QGroupBox {
    border: 1px solid #2d2d2d;
    border-radius: 0px;
    padding: 7px;
    top:50px;
    margin-top: 30px;
    padding-top: 30px;
}

QGroupBox::title {
    subcontrol-position: top left;
    left: 9px;
    top: -10px;
    padding-top: 30px;
    margin-top: 0px;
} */

QGroupBox {
    border-top: 1px solid #090909;
    padding: 2px;
    margin-top: 6px;
    margin-bottom: 4px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 9px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: -2px;
}
QCheckBox::indicator:unchecked {
    background: #3f3f3f;
}
QGroupBox::indicator {
    margin-left: 2px;
    margin-top: 2px;
    padding: 0;
    height: 14px;
    width: 14px;
}

ListWidgetForCheckboxes {
    background-color: #181818;
}

ScriptEditor {
    background-color: #000000;
    color: #fdfdfd;
}


QDockWidget::title {
    background-color: #040404;
    border: 1px solid #000000;
    text-align: left;
    padding: 6px;
    margin: 1px;
}

/* QDockWidget::close-button, QDockWidget::float-button {
    background: #0d0d0d;
    border-radius: 0px;
    border: 0px none #2d2d2d;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background: #2d2d2d;
    border-radius: 0px;
    border: 2px solid #636363;
} */
