/* text selection color */
QLineEdit, QTextEdit, QAbstractSpinBox
{
    selection-background-color: #555555;
}

/* frame hover */
QPushButton:hover,QToolButton:hover,QAbstractSpinBox:hover,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QAbstractView:hover,QTreeView:hover
{
    border: 1px solid #555555;
}

/* frame focus */
QPushButton:focus,QToolButton:focus,QAbstractSpinBox:focus,QLineEdit:focus,QTextEdit:focus,QPlainTextEdit:focus,QAbstractView:focus,QTreeView:focus
{
    border: 1px solid #555555;
}


QWidget
{
    color: silver;
    background-color: #343434;
    padding: 1px;
    margin: 1px;
    border: none;
}
/*
QWidget:item:hover
{
    background-color: #757575;
} */

QWidget:item:selected
{
    background-color: #757575;
}



QToolBar {
    border: 0;
}


QLineEdit
{
    background-color: #252525;
    padding: 2px;
    border-style: solid;
    border: 1px solid #343434;
    border-radius: 2px;

}


QFrame
{
    border-radius: 2px;
    border: 1px solid #454545;
    padding: 0;
    margin: 0;
}

QFrame[frameShape="0"]
{
    border: 1px transparent #454545;
}


QSplitter
{
    border-style: none;
}


QSplitter:handle {
    background: qlineargradient(
        x1:0 y1:0, x2:0 y2:1,
        stop:0.2 transparent, stop:0.4 #252525,
        stop:0.6 #252525, stop:0.8 transparent);
}


QLabel
{
    border: 0px solid black;
}


QPushButton
{
    margin: 1px;
    padding: 5px;
    border-color: #343434;
    background-color: #252525;
    border-radius: 2px;
}

QToolButton
{
    margin: 1px;
    padding: 2px;
    border-color: #343434;
    background-color: None;
}

QToolButton:checked, QToolButton:pressed
{
    background-color: #757575;
    border: 1px solid #757575;
}


QPushButton:disabled, QToolButton:disabled, QAbstractSpinBox:disabled
{
    background-color: #343434;
    color: #454545;
}



QPushButton:pressed, QToolButton:pressed
{
    background-color: #555555;
    border-color: #757575;
}


QComboBox
{
    selection-background-color: #2D2D2D;
    border-style: solid;
    border: 1px solid #454545;
    border-radius: 1px;
    padding: 2px;
}

QComboBox:hover
{
    border: 1px solid #757575;
    color: white;
}

QComboBox:on
{
    color: #757575;
}

/* inside QComboBox*/
QComboBox QAbstractItemView
{
    color: darkgrey;
    background-color: #191919;
    border-radius: 1px;
    border: 1px solid #757575;
}

/* QComboBox pop-up */
QAbstractItemView {
    selection-background-color: #555555;
}


QAbstractSpinBox {
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #343434;
    background-color: #252525;
    color: silver;
    border-radius: 2px;
}


QTabWidget::pane {
    border: 1px solid #454545;
    border-radius: 2px;
    padding: 1px;
    margin: 1px;
}


QTabBar
{
    qproperty-drawBase: 0;
}


QTabBar::tab {
    border: 1px solid #555555;
    /*border-bottom: 0;*/
    /*border-left: 0;*/
    border: 0;
    background-color: #343434;
    padding: 3px;
}


QTabBar::tab:!selected
{
    background-color: #343434;
}


QListView:item:hover {
    background-color: #555555;
}


QAbstractItemView
{
    border: 1px solid #454545;
    color: #8F8F8F;
    background-color: #252525;
    alternate-background-color: #343434;
}

ShoskTableWidget
{
    background-color: #343434
}
ShoskHeader
{
    background-color: #343434
}

QHeaderView
{
    border-style: none;
}
QHeaderView::section
{
    background-color: #191919;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-width: 1px;
    border-right-color: black;
    border-right-style: double;
}


QListWidget
{
    /* background-color: red; */
    padding: 0px;
}

/*
QSlider::groove {

}*/
/*
QSlider::handle {
    background: silver;
    border: 1px solid #343434;
    border-radius: 1px;
}*/


/* QHeaderView::section  {
    background-color: #343434;
    color: silver;
} */

QTableCornerButton::section {
    background-color: #343434;
    border: 1px solid #343434;
}


QTextEdit
{
    /*background-color: #252525;*/
    background-color: #343434;
    color: silver;
    border: none;
}


QScrollBar {
    /*border: 1px solid #191919;*/
}

QScrollBar:vertical {
     margin: 15px 0 15px 0;
}

QScrollBar:horizontal {
     margin: 0px 15px 0 15px;
}

QScrollBar::handle
{
    background-color: #252525;
    /* border: 1px solid #555555; */
    margin: 2px;
    border-radius: 1px;
}

QScrollBar::add-line, QScrollBar::sub-line
{
    border: 1px solid #343434;
    border-radius: 3px;
    background-color: #252525;
    height: 14px;
    width: 14px;
    subcontrol-origin: margin;
    margin: -1px;
    padding: 0px;
}

QScrollBar::add-line:vertical {
    subcontrol-position: bottom;
}

QScrollBar::add-line:horizontal {
    subcontrol-position: right;
}

QScrollBar::sub-line:vertical {
    subcontrol-position: top;
}

QScrollBar::sub-line:horizontal {
    subcontrol-position: left;
}

QScrollBar::up-arrow, QScrollBar::down-arrow, QScrollBar::right-arrow, QScrollBar::left-arrow
{
    width: 4px;
    height: 4px;
    background-color: silver;
}


QScrollBar::add-page, QScrollBar::sub-page
{
    background-color: none;
}




QSlider::groove {
    border: 1px solid #252525;
    border-radius: 1px;
 }

QSlider::groove:horizontal {
    height: 4px;
    background: #454545;

 }

 QSlider::groove:vertical {
    width: 4px;
    background: #454545;
    margin: 0 0;
 }


QSlider::handle {
    background-color: grey;
    border: 0px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
 }

QSlider::handle:vertical {
    margin: 0 -5px;
 }

 QSlider::handle:horizontal {
     margin: -5px 0;
 }

 QProgressBar
{
    border: 1px solid #555555;
    border-radius: 2px;
    text-align: center;
}

 QProgressBar::chunk
{
    background-color: #555555;
}

/*
QGroupBox {
    border:1px solid #454545;
    border-radius: 2px;
    padding: 7px;
    top:50px;
    margin-top: 30px;
    padding-top: 30px;
}

QGroupBox::title {
    subcontrol-position: top left;
    left: 9px;
    top: -10px;
    padding-top: 30px;
    margin-top: 0px;
} */

QGroupBox {
    border:1px solid #454545;
    padding: 2px;
    margin-top: 6px;
    margin-bottom: 4px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 9px;
    padding-left: 2px;
    padding-right: 4px;
    padding-top: -4px;
}

QGroupBox::indicator {
    margin-left: 2px;
    margin-top: 2px;
    padding: 0;
    height: 14px;
    width: 14px;
}

ListWidgetForCheckboxes {
    background-color: #343434;
}
